<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toy Shop</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {{!-- icon --}}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
  body {
    margin-top: 7%;
  }
</style>

<body>
  {{!-- Header --}}
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="/hasbro/main">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <li class="nav-item">
              <a class="nav-link" href="/hasbro/list">HashBro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lego/list">Lego</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lego">Admin Lego</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hasbro">Admin Teddy</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  {{!-- render ra body các trang webpage --}}
  {{{body}}}
  {{!-- Footer --}}
  <footer>
    <div class="footer" style="padding-top: 0px">
      <p class="alert alert-success text-center mt-5">Bui Thi Huong - 2022</p>

      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-17 text-center">
          <a href="https://www.facebook.com/zuck"><i class="fa-brands fa-facebook text-while mr-4"></i></a>
          <a href="https://twitter.com/kremlinrussia_e"><i class="fa-brands fa-twitter text-while mr-4"></i></a>
          <a href="https://www.instagram.com/k.mbappe/?hl=en"><i class="fa-brands fa-instagram text-while mr-4"></i></a>
          <a href="https://github.com/Buithihuong2210/asm02_toy"><i class="fa-brands fa-github text-while mr-4"></i></a>
          <a href="https://huongcute1st.herokuapp.com/"><i class="fa fa-cloud-download"></i></a>

        </div>
      </div>

     <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>About Us</h3>
      <p>
        We are ATN'Shop. Alway is your best choice. Hope to see you again!
      </p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://th.bing.com/th/id/OIP.Cm4bwkoKJ3m5MAAkElIuVQHaHa?w=182&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Mewmew</span><br>
          <span>Pick it up</span>
        </li>
        <li class="w3-padding-16">
          <img src="https://th.bing.com/th/id/OIP.Cm4bwkoKJ3m5MAAkElIuVQHaHa?w=182&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Teddy</span><br>
          <span>Grw grw</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Teddy</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Lego</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Thao</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Huong</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cute</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span>
         <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span>
         <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>